name: Deploy Maven Package to GitHub

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          server-id: github
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Modify version for dev branch
        if: github.ref == 'refs/heads/dev'
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "Current version: $VERSION"
          mvn versions:set -DnewVersion=${VERSION}-SNAPSHOT
          echo "Modified version to: ${VERSION}-SNAPSHOT"

      - name: Deploy to GitHub Packages
        run: mvn deploy -P github
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          MAVEN_USERNAME: ${{ github.actor }}
          MAVEN_PASSWORD: ${{ secrets.ACCESS_TOKEN }}

      - name: Revert version changes
        if: github.ref == 'refs/heads/dev'
        run: mvn versions:revert
